.btn {
  display: inline-block;
  color: $c-green-2;
  border: 2px solid $c-green-3;
  padding: 8px 14px;
  margin: 6px;
  font-size: 16px;
  font-weight: 600;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;

  &-lg {
    font-size: 18px;
  }

  &-primary {
    background-color: $c-green-3;
    color: $c-dark-6;

    &:hover {
      background-color: $c-green-2;
    }

    &--white {
      background-color: $c-white-3;
      border-color: $c-white-3;

      &:hover {
        background-color: $c-white-1;
        border-color: $c-white-1;
      }
    }
  }

  &-secondary {
    background-color: transparent;

    &:hover {
      color: $c-dark-6;
      background-color: $c-green-3;
    }

    &--white {
      color: $c-white-3;
      border-color: $c-white-3;

      &:hover {
        background-color: $c-white-3;
      }
    }
  }

  &-round {
    border-radius: 5px;
  }

  &-circle {
    border-radius: 50%;
  }
}
