.btn {
  display: inline-block;
  color: $c-green-4;
  border: 2px solid $c-green-4;
  padding: 13px 22px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 12px 24px rgb(34 51 49 / 13%);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  @include respond-to(tablet) {
    font-size: 16px;
  }

  &:hover {
    box-shadow: none;
  }

  &-lg {
    padding: 10px 18px;

    @include respond-to(desktop) {
      padding: 14px 24px;
    }
  }

  &-primary {
    background-color: $c-green-4;
    color: $c-white-2;

    &:hover {
      background-color: $c-green-5;
      border-color: $c-green-5;
    }

    &--white {
      background-color: $c-white-3;
      border-color: $c-white-3;

      &:hover {
        background-color: $c-white-1;
        border-color: $c-white-1;
      }
    }

    &--black {
      background-color: $c-dark-1;
      border-color: $c-dark-1;

      &:hover {
        background-color: $c-dark-0;
        border-color: $c-dark-0;
      }
    }
  }

  &-secondary {
    background-color: transparent;

    &:hover {
      color: $c-white-1;
      background-color: $c-green-4;
    }

    &--white {
      color: $c-white-3;
      border-color: $c-white-3;

      &:hover {
        color: $c-gray-2;
        background-color: $c-white-3;
      }
    }

    &--black {
      color: $c-dark-1;
      border-color: $c-dark-1;

      &:hover {
        background-color: $c-dark-1;
      }
    }
  }

  &-round {
    border-radius: 5px;
  }

  &-circle {
    border-radius: 50%;
  }
}
