.Dropdown-root {
  width: 120px;

  @include respond-to(tablet) {
    width: 150px;
  }

  & + .Dropdown-root {
    margin-left: 10px;

    @include respond-to(tablet) {
      margin-left: 15px;
    }
  }

  .Dropdown-control {
    @include respond-to(laptop) {
      margin-top: 4px;
    }
  }

  .Dropdown-menu {
    margin-top: 3px;
  }

  .Dropdown-control,
  .Dropdown-menu {
    border: none;
    border-radius: 6px;
  }

  .Dropdown-option:hover,
  .Dropdown-option.is-selected {
    background-color: rgba($color: $c-green-1, $alpha: 0.1);
    color: $c-dark-1;
  }

  .Dropdown-arrow {
    border: solid $c-dark-1;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }
}
