.modal {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  z-index: 10;
  background-color: rgba($color: $c-dark-3, $alpha: 0.9);

  &__content {
    display: flex;
    flex-direction: column;
    padding: 90px 20px 0;

    @include respond-to(tablet) {
      width: 100%;
      max-width: 1400px;
      padding: 100px 70px 0;
    }

    @include respond-to(laptop) {
      padding: 120px 100px 0;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;

    @include respond-to(laptop) {
      flex-direction: row;
      justify-content: space-between;
    }

    .btn {
      margin: 10px 5px 0;

      @include respond-to(laptop) {
        margin: 10px 5px;
        width: calc(50% - 10px);
      }
    }

    &--single {
      @include respond-to(laptop) {
        justify-content: center;
        width: 100%;

        .btn {
          @include respond-to(laptop) {
            width: calc(40% - 10px);
          }
        }
      }
    }
  }

  .receipt {
    background-color: $c-white-2;
    padding: 30px;

    @include respond-to(phone) {
      padding: 45px;
    }

    @include respond-to(tablet) {
      padding: 50px 20px;
    }
  }

  &-empty {
    padding-top: 200px;

    @include respond-to(laptop) {
      padding-top: 250px;
    }
  }

  &__deletion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: $c-white-2;
    border: 2px solid $c-green-3;
    border-radius: 20px;
    text-align: center;

    &-title {
      width: fit-content;
      border-bottom: 1px solid $c-green-3;
      margin-bottom: 20px;
    }

    &-text {
      padding-bottom: 20px;
    }

    &-btn-group {
      width: 100%;

      .btn {
        width: 45%;
        max-width: 250px;
        margin-bottom: 5px;
      }
    }
  }
}
