.not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    color: $c-dark-3;
    font-size: 100px;
    text-shadow: 3px 3px 0px $c-green-3;

    @include respond-to(tablet) {
      font-size: 120px;
    }

    @include respond-to(desktop) {
      font-size: 140px;
      text-shadow: 4px 4px 0px $c-green-3;
    }
  }

  &__text {
    font-size: 18px;
    padding-bottom: 30px;

    @include respond-to(tablet) {
      font-size: 20px;
      padding-bottom: 40px;
    }

    @include respond-to(desktop) {
      font-size: 24px;
      padding-bottom: 55px;
    }
  }

  &__btn {
    box-shadow: 3px 3px $c-green-3;

    @include respond-to(desktop) {
      box-shadow: 4px 4px $c-green-3;
    }

    &:hover {
      background-color: $c-dark-2;
      box-shadow: 5px 5px $c-green-3;

      @include respond-to(desktop) {
        box-shadow: 6px 6px $c-green-3;
      }
    }
  }
}
