.profile {
  &__info {
    &-title {
      font-weight: 500;
      color: $c-dark-1;
      font-size: 20px;
      padding-bottom: 10px;

      @include respond-to(tablet) {
        font-size: 22px;
      }
    }

    &-value {
      font-weight: 700;
    }

    &-link {
      .arrow {
        transform: rotate(-45deg) translate(2px, -1px);
        transition: transform 0.3s ease;
      }

      &:hover {
        .arrow {
          transform: rotate(-45deg) translate(4px, 1px);
        }
      }
    }

    &-footer {
      display: flex;
      flex-direction: column;

      @include respond-to(tablet) {
        flex-direction: row;
      }
    }

    &-btn {
      margin-top: 10px;
      width: 205px;

      @include respond-to(tablet) {
        margin-top: 20px;
      }

      &:first-child {
        @include respond-to(tablet) {
          margin-right: 20px;
        }
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 498px;
    background-color: $c-white-2;
    padding: 30px 20px;
    margin-top: 30px;
    border-radius: 20px;

    @include respond-to(phone) {
      padding: 30px;
    }

    @include respond-to(tablet) {
      height: 518px;
      padding: 40px;
      margin-top: 50px;
    }

    @include respond-to(laptop) {
      margin-top: 90px;

      .form__group,
      .form__label,
      .form__input {
        width: 100%;
      }
    }

    &-title {
      padding-bottom: 30px;
    }

    .form__group {
      margin-bottom: 12px;
    }

    &-footer {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .btn {
        width: calc(50% - 10px);
      }
    }

    &--password {
      height: 348px;
      margin-top: 60px;
      border-radius: 20px;

      @include respond-to(phone) {
        min-width: 345px;
      }

      @include respond-to(tablet) {
        height: 378px;
        margin-top: 80px;
      }

      @include respond-to(laptop) {
        margin-top: 110px;
      }
    }
  }
}
