.report-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid $c-green-4;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 5px 5px 10px $c-white-3;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;

  @include respond-to(tablet) {
    width: calc(50% - 6px);
  }

  @include respond-to(laptop) {
    width: calc(33.33% - 8px);
  }

  &--closed {
    background-color: $c-white-3;
  }

  &--unseen {
    background-color: rgba($color: $c-green-1, $alpha: 0.3);
  }

  &:hover {
    box-shadow: none;
    background-color: rgba($color: $c-green-1, $alpha: 0.2);
  }

  &:nth-child(2n) {
    @include respond-to(tablet) {
      margin-left: 12px;
    }

    @include respond-to(laptop) {
      margin-left: 0;
    }
  }

  &:nth-child(3n + 2) {
    @include respond-to(laptop) {
      margin-right: 12px;
      margin-left: 12px;
    }
  }

  &__icon {
    position: absolute;
    top: 15px;
    right: 15px;
    height: 22px;
    width: 22px;

    @include respond-to(tablet) {
      height: 30px;
      width: 30px;
    }
  }

  &__head-wrapper {
    padding-bottom: 20px;

    @include respond-to(laptop) {
      padding-bottom: 30px;
    }
  }

  &__user {
    padding-top: 3px;
  }

  &__request {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
