body {
  background-color: $c-white-2;
  overflow-x: hidden;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: $c-dark-4;
}

div,
p,
span,
a {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h-like {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 700;

  @include respond-to(tablet) {
    font-size: 42px;
  }

  @include respond-to(laptop) {
    font-size: 64px;
  }
}

h2 {
  font-size: 28px;

  @include respond-to(laptop) {
    font-size: 36px;
  }
}

h3 {
  font-size: 24px;

  @include respond-to(laptop) {
    font-size: 32px;
  }
}

h4 {
  font-size: 18px;

  @include respond-to(tablet) {
    font-size: 22px;
  }

  @include respond-to(laptop) {
    font-size: 28px;
  }
}

h5 {
  font-size: 16px;

  @include respond-to(tablet) {
    font-size: 18px;
  }

  @include respond-to(laptop) {
    font-size: 22px;
  }
}

h6 {
  font-size: 11px;

  @include respond-to(tablet) {
    font-size: 12px;
  }

  @include respond-to(laptop) {
    font-size: 14px;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  color: $c-green-3;
  text-decoration: none;
}

textarea:focus-visible {
  outline: none;
  border: 1px solid #23c363;
}

::-moz-selection {
  color: $c-dark-2;
  background: $c-green-2;
}

::selection {
  color: $c-dark-2;
  background: $c-green-2;
}
