//* Display
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline-block;
}
.d-flex {
  display: flex;
  justify-content: center;
}

//* Text transform
.lowercase {
  text-transform: lowercase !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.capitalize {
  text-transform: capitalize !important;
}

//* Font weight
.fw-bold {
  font-weight: 700 !important;
}
.fw-semi-bold {
  font-weight: 600 !important;
}
.fw-normal {
  font-weight: 400 !important;
}
.fw-light {
  font-weight: 300 !important;
}

//* Font style
.fs-normal {
  font-style: normal !important;
}
.fs-italic {
  font-style: italic !important;
}

//* Text color
.c-green-1 {
  color: $c-green-1;
}
.c-green-2 {
  color: $c-green-2;
}
.c-green-3 {
  color: $c-green-3;
}
.c-green-4 {
  color: $c-green-4;
}
.c-green-5 {
  color: $c-green-5;
}
.c-green-6 {
  color: $c-green-6;
}
.c-gray {
  color: $c-gray-0;
}

//* Cursor
.cursor-n {
  cursor: none;
}
.cursor-p {
  cursor: pointer;
}

//* Text align
.t-center {
  text-align: center;
}
.t-start {
  text-align: start;
}
.t-end {
  text-align: end;
}

//* Media queries
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;

@mixin respond-to($media) {
  @if $media == phone {
    @media (min-width: $screen-xs) {
      @content;
    }
  } @else if $media == tablet {
    @media (min-width: $screen-sm) {
      @content;
    }
  } @else if $media == laptop {
    @media (min-width: $screen-md) {
      @content;
    }
  } @else if $media == desktop {
    @media (min-width: $screen-lg) {
      @content;
    }
  } @else if $media == wide {
    @media (min-width: $screen-xl) {
      @content;
    }
  } @else if $media == ls {
    @media (orientation: landscape) {
      @content;
    }
  } @else {
    @media screen and (min-width: $media + px) {
      @content;
    }
  }
}

//* Spacing
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space * 10}px;
  }
  .m-lg-#{$space} {
    @include respond-to(desktop) {
      margin: #{$space * 20}px;
    }
  }
  .mx-#{$space} {
    margin: 0 #{$space * 10}px;
  }
  .mx-lg-#{$space} {
    @include respond-to(desktop) {
      margin: 0 #{$space * 20}px;
    }
  }
  .my-#{$space} {
    margin: #{$space * 10}px 0;
  }
  .my-lg-#{$space} {
    @include respond-to(desktop) {
      margin: #{$space * 20}px 0;
    }
  }
  .mt-#{$space} {
    margin-top: #{$space * 10}px;
  }
  .mt-lg-#{$space} {
    @include respond-to(desktop) {
      margin-top: #{$space * 20}px;
    }
  }
  .mb-#{$space} {
    margin-bottom: #{$space * 10}px;
  }
  .mb-lg-#{$space} {
    @include respond-to(desktop) {
      margin-bottom: #{$space * 20}px;
    }
  }
  .mr-#{$space} {
    margin-right: #{$space * 10}px;
  }
  .mr-lg-#{$space} {
    @include respond-to(desktop) {
      margin-right: #{$space * 20}px;
    }
  }
  .ml-#{$space} {
    margin-left: #{$space * 10}px;
  }
  .ml-lg-#{$space} {
    @include respond-to(desktop) {
      margin-left: #{$space * 20}px;
    }
  }

  .p-#{$space} {
    padding: #{$space * 10}px;
  }
  .p-lg-#{$space} {
    @include respond-to(desktop) {
      padding: #{$space * 20}px;
    }
  }
  .px-#{$space} {
    padding: 0 #{$space * 10}px;
  }
  .px-lg-#{$space} {
    @include respond-to(desktop) {
      padding: 0 #{$space * 20}px;
    }
  }
  .py-#{$space} {
    padding: #{$space * 10}px 0;
  }
  .py-lg-#{$space} {
    @include respond-to(desktop) {
      padding: #{$space * 20}px 0;
    }
  }
  .pt-#{$space} {
    padding-top: #{$space * 10}px;
  }
  .pt-lg-#{$space} {
    @include respond-to(desktop) {
      padding-top: #{$space * 20}px;
    }
  }
  .pb-#{$space} {
    padding-bottom: #{$space * 10}px;
  }
  .pb-lg-#{$space} {
    @include respond-to(desktop) {
      padding-bottom: #{$space * 20}px;
    }
  }
  .pr-#{$space} {
    padding-right: #{$space * 10}px;
  }
  .pr-lg-#{$space} {
    @include respond-to(desktop) {
      padding-right: #{$space * 20}px;
    }
  }
  .pl-#{$space} {
    padding-left: #{$space * 10}px;
  }
  .pl-lg-#{$space} {
    @include respond-to(desktop) {
      padding-left: #{$space * 20}px;
    }
  }
}

//* Arrows
.arrow {
  border: solid $c-green-3;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;

  @include respond-to(phone) {
    margin-left: 5px;
  }

  &--right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  &--left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  &--up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  &--down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

//* Font size
.fs-1 {
  font-size: 32px !important;

  @include respond-to(tablet) {
    font-size: 36px !important;
  }

  @include respond-to(laptop) {
    font-size: 42px !important;
  }
}
.fs-2 {
  font-size: 28px !important;

  @include respond-to(tablet) {
    font-size: 32px !important;
  }

  @include respond-to(laptop) {
    font-size: 36px !important;
  }
}
.fs-3 {
  font-size: 24px !important;

  @include respond-to(laptop) {
    font-size: 32px !important;
  }
}
.fs-4 {
  font-size: 20px !important;
}
.fs-5 {
  font-size: 16px !important;
}
.fs-6 {
  font-size: 14px !important;
}

//* Layout
.l-container {
  padding: 100px 20px 0;

  @include respond-to(wide) {
    padding: 100px 20px 0;
    max-width: 1440px;
    margin: auto;
  }
}
.l-relative {
  position: relative;
}
.l-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
