//* Colors
$c-white-1: #fff;
$c-white-2: #f6f6f6;
$c-white-3: #e5ebe5;
$c-white-4: #cddbcd;

$c-gray-1: #565656;

$c-dark-1: #282f28;
$c-dark-2: #1f231f;
$c-dark-3: #1a1c1a;
$c-dark-4: #101210;
$c-dark-5: #0a0e0a;
$c-dark-6: #000000;

$c-green-1: #3aff89;
$c-green-2: #16db65;
$c-green-3: #23c363;
$c-green-4: #0ea54a;
$c-green-5: #058c42;
$c-green-6: #006c31;

//* Font Families
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
