//* Colors
$c-white-1: #fff;
$c-white-2: #f6f6f6;
$c-white-3: #e5ebe5;
$c-white-4: #cddbcd;

$c-gray-0: #7a7979;
$c-gray-1: #565656;
$c-gray-2: #354235;

$c-dark-0: #313a31;
$c-dark-1: #282f28;
$c-dark-2: #1f231f;
$c-dark-3: #1a1c1a;
$c-dark-4: #101210;
$c-dark-5: #0a0e0a;
$c-dark-6: #000000;

$c-green-1: #3aff89;
$c-green-2: #16db65;
$c-green-3: #23c363;
$c-green-4: #0cb44f;
$c-green-5: #089e4b;
$c-green-6: #006c31;

$c-red-1: #e65454;
$c-red-2: #e23535;
$c-red-3: #da2a2a;
$c-red-4: #ff0505;

//* Font Families
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
